{{ define "styles" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/css/fonts.css" media="screen">
<link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="/public/css/style.css" media="screen">
<link rel="stylesheet" href="/public/css/font-awesome.min.css" media="screen">
<link rel="stylesheet" href="/public/css/sweetalert2.min.css" media="screen">
<link rel="shortcut icon" href="/public/favicon.png">
{{ end }}