<!DOCTYPE html>
<html>
<head>
	<title>Administration | {{ .Title }}</title>
	{{ template "styles" }}
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" id="navbar-title">{{ .Title }}</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					<li><a onclick="reloadWebsites()" style="cursor:pointer">Reload</a></li>
					<li><a onclick="logout()" style="cursor:pointer">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="well">
							<legend>All Websites</legend>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Enabled</th>
										<th>Visible</th>
										<th>Protocol</th>
										<th>URL</th>
										<th>Method</th>
										<th>Status</th>
										<th>Last Check</th>
										<th width="5%">Notifications</th>
										<th width="10.6%">Actions</th>
									</tr>
								</thead>
								<tbody id="table-websites">
									<tr>
										<td colspan="11">Loading data...</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row" id="row-edit-website">
					<div class="col-lg-12">
						<div class="well form-horizontal">
							<legend>Edit Website</legend>
							<fieldset>
								<div class="form-group">
									<label class="col-lg-1 control-label">Name:</label>
									<div class="col-lg-11"><input type="text" class="form-control" id="input-edit-name" placeholder="My Website"></div>
								</div>
								<div class="form-group">
									<label class="col-lg-1 control-label">URL:</label>
									<div class="col-lg-2">
										<select class="form-control" id="input-edit-protocol">
											<option value="http">http</option>
											<option value="https" selected>https</option>
										</select>
									</div>
									<div class="col-lg-9"><input type="text" class="form-control" id="input-edit-url" placeholder="google.com"></div>
								</div>
								<div class="form-group">
									<label class="col-lg-1 control-label">Method:</label>
									<div class="col-lg-2">
										<select class="form-control" id="input-edit-method">
											<option value="HEAD" selected>HEAD</option>
											<option value="GET">GET</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12">
										<button type="button" class="btn btn-primary" onclick="saveWebsite()">Save</button>
										<button type="button" class="btn btn-danger" onclick="cancelSaveWebsite()">Cancel</button>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="well form-horizontal">
							<legend>Add Website</legend>
							<fieldset>
								<div class="form-group">
									<label class="col-lg-2 control-label">Name:</label>
									<div class="col-lg-10"><input type="text" class="form-control" id="input-add-name" placeholder="My Website"></div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">URL:</label>
									<div class="col-lg-3">
										<select class="form-control" id="input-add-protocol">
											<option value="http">http</option>
											<option value="https" selected>https</option>
										</select>
									</div>
									<div class="col-lg-7"><input type="text" class="form-control" id="input-add-url" placeholder="google.com"></div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Method:</label>
									<div class="col-lg-3">
										<select class="form-control" id="input-add-method">
											<option value="HEAD" selected>HEAD</option>
											<option value="GET">GET</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12"><button type="button" class="btn btn-primary" onclick="addWebsite()">Add Website</button></div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12">
								<div class="well form-horizontal">
									<legend>Settings</legend>
									<fieldset>
										<div class="form-group">
											<label class="col-lg-2 control-label">Password:</label>
											<div class="col-lg-7">
												<input type="password" class="form-control" id="input-new-password" placeholder="P4sSW0rD">
											</div>
											<div class="col-lg-3">
												<button type="button" class="btn btn-primary pull-right" onclick="changePassword()">Save</button>
											</div>
										</div>
									</fieldset>
									<fieldset>
										<div class="form-group">
											<label class="col-lg-2 control-label">Interval:</label>
											<div class="col-lg-4">
												<input type="number" class="form-control" id="input-new-interval" min="10" max="600" placeholder="30" value="{{ .Interval }}">
											</div>
											<label class="col-lg-3 control-label">Seconds</label>
											<div class="col-lg-3">
												<button type="button" class="btn btn-primary pull-right" onclick="changeInterval()">Save</button>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-footer">Powered by <a href="https://github.com/MarvinMenzerath/UpAndRunning2" target="_blank"><b>UpAndRunning2</b></a> <b>v{{ .AppVersion }}</b> and <a href="https://golang.org/" target="_blank"><b>{{ .GoVersion }}</b></a> <b>(@{{ .GoArch }})</b>.</p>
		</div>
	</footer>

	{{ template "scripts" }}
	<script src="/public/js/scripts-admin.js"></script>
</body>
</html>