html {
	min-height: 100%;
	position: relative;
}

body > .container {
	padding-top: 80px;
	padding-bottom: 60px;
}

.footer {
	background-color: #f5f5f5;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-footer {
	margin: 20px 0 0 0;
}

.table {
	margin-bottom: 0;
}

#bc-feature, #bc-site {
	display: none;
}

#row-information {
	display: none;
}

#row-details {
	display: none;
}

#form-edit-website {
	display: none;
}

.form-horizontal .control-label {
	padding-top: 10px;
}

.label {
	text-transform: uppercase;
}

.label-action {
	cursor: pointer;
}

.close {
	font-size: 22px;
	font-weight: 300;
	line-height: 0;
	opacity: 0.6;
	padding-left: 10px;
	margin-right: -2px;
}

.notifications {
	position: fixed;
	z-index: 9999;
}

.notifications.top-right {
	right: 10px;
	top: 25px;
}

.notifications.top-left {
	left: 10px;
	top: 25px;
}

.notifications.bottom-left {
	left: 10px;
	bottom: 25px;
}

.notifications.bottom-right {
	right: 10px;
	bottom: 25px;
}

.notifications > div {
	position: relative;
	margin: 5px 0;
}

@media (min-width: 1260px) {
	.container {
		width: 1250px;
	}
}